
  
<div style="display: flex; flex-direction: column; align-items: center; margin: 20px 0;">
  <h1 style="font-size: 45px; font-weight: bold; color: #333; margin-bottom: 10px;">Gestion des patients</h1>
  <input
    type="text"
    [(ngModel)]="searchTerm"
    (keydown.enter)="onSearchInput(searchTerm)"
    placeholder="🔍 Search patients..."
    style="padding: 10px 14px; font-size: 16px; width: 100%; max-width: 400px; border-radius: 6px; border: 1px solid #ccc; box-shadow: 0 2px 4px rgba(0,0,0,0.1);"
  />
  
</div>


<button (click)  ="Ajouter_Patient()" > Ajouter_Patient</button>
<div  *ngIf="ToAdjustpatient" class="floating-center-box">
  <h2>Gestion des patients</h2>
  <label for="nom">Nom:</label>
    <input type="text" id="nom" [(ngModel)]="nom" />
    <label for="prenom">Prénom:</label>
    <input type="text" id="prenom" [(ngModel)]="prenom" />
    <label for="mail">Mail:</label>
    <input type="text" id="mail" [(ngModel)]="mail" />
    <label for="password">Mot de passe:</label>
    <input type="text" id="password" [(ngModel)]="pwd" />
     <div class="box-button">
  <button (click)="Addpatient()" class="btn-green border-radius">Ajouter</button>
  <button (click)="Deletepatient()" class="btn-red border-radius"*ngIf= "supprimer">Supprimer</button>
  <button (click)="Updatepatient()" class="btn-blue border-radius"*ngIf="supprimer">Modifier</button>
  <button class = "btn btn-danger border-radius" type="reset">Annuler</button>
  </div>
  
</div>
<div  *ngIf="modifier" class="floating-right-box">
  <h2>Modifier patient</h2>
  <label for="nom">Nom:</label>
    <input type="text" id="nom" [(ngModel)]="newnom" />
    <label for="prenom">Prénom:</label>
    <input type="text" id="prenom" [(ngModel)]="newprenom" />
    <label for="mail">Mail:</label>
    <input type="text" id="mail" [(ngModel)]="newMail" />
    <label for="password">Mot de passe:</label>
    <input type="text" id="password" [(ngModel)]="newpwd" />
     <button (click)="Updatepatient()" class="btn-blue border-radius" (click)="SubmitModifier()">Modifier</button>
  <button class = "btn btn-danger border-radius" type="reset">Annuler</button>

  
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nom</th>
        <th>Prénom</th>
      <th>Mail</th>
      <th>password</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patients" (click)="Adjustpatient(patient)">
      <td>{{ patient.id }}</td>
     
      <td>{{ patient.nom }}</td>
      <td>{{ patient.prenom }}</td>
      <td>{{ patient.Mail }}</td>
      <td>{{ patient.pwd }}</td>
     

      <td>
        <!--button (click)="editpatient(patient.id)">Edit</button>
        <button (click)="deletepatient(patient.id)">Delete</button-->
      </td>
    </tr>
  </tbody>
</table>
