<div class="body">
    <div class="login-modal">
      <h4>Bienvenue à nouveau</h4>
      <p>Connectez-vous ou inscrivez-vous pour gérer vos patients et rendez-vous</p>
      <form [formGroup]="adresseForm">
      <input type="email" class="form-control" placeholder="Adresse mail" formControlName="mail">
      <input type="password" class="form-control" placeholder="Mot de passe" formControlName="pwd">
      <button class="btn btn-dark" (click) = "login()">Se connecter</button>
    
    </form>
    </div>
     
    </div>
  
  
  